<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/admin-header :: head"></head>
<head>
    <link rel="stylesheet" th:href="@{/css/admin/admin-access-box-style.css}" />
</head>

<body>

	<div th:replace="fragments/header :: header"></div>
	
	<div class="access-wrapper-container">
		<section class="access-wrapper">
	        <div class="access-box">
	        	<h1>🔧 BLOG UNDER CONSTRUCTION !</h1>
	        </div>
	    </section>
	</div>
    
    
    <div th:replace="admin/fragments/admin-footer :: footer"></div>
</body>
</html>