<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Deux Zero | Sante</title>

<body>

	<p>Bonjour</p>
	
	<p>LANAYAL a marqué 3 buts lors de son premier match, pour faire gagner son équipe 3-0 en entrant en cours de match en plus, 
		malheureusement l'histoire ne le retiendra pas. 
		Ne soyez pas LANAYAL, Gravez vos performances dans l'histoire.</p>

	<ul>
		<span th:each="sante,iter : ${santes}">
			<a data-th-href="@{/santes/{id}(id=${sante.id})}">
				<li th:utext="${sante.name}"></li>
			</a>	
		</span>
		
	</ul>

</body>