<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<head>
    <link rel="stylesheet" th:href="@{/css/style-joueur-profile.css}" />
</head>

<body>
	<div th:replace="fragments/header :: header"></div>
	
	<div class="player-profile-grid">
	    <h2>🧑‍💼 Profil du Joueur</h2>
	    <div class="profile-grid">
	        <div class="stat-card">
	            <div class="label">🧠 Nom</div>
	            <div class="value" th:text="${joueur.name}"></div>
	        </div>
	        <div class="stat-card">
	            <div class="label">💸 Valeur Marchande</div>
	            <div class="value" th:text="${joueur.valeurM}"></div>
	        </div>
	        <div class="stat-card">
	            <div class="label">⚽ Buts</div>
	            <div class="value" th:text="${joueur.butsM}"></div>
	        </div>
	        <div class="stat-card">
	            <div class="label">🎁 Passes Décisives</div>
	            <div class="value" th:text="${joueur.passesD}"></div>
	        </div>
	        <div class="stat-card">
	            <div class="label">🧤 Clean Sheets</div>
	            <div class="value" th:text="${joueur.cleanSheets}"></div>
	        </div>
	        <div class="stat-card">
	            <div class="label">🌟 Hommes du Match</div>
	            <div class="value" th:text="${joueur.motmsR}"></div>
	        </div>
	        <div class="stat-card">
	            <div class="label">🔢 Points</div>
	            <div class="value" th:text="${joueur.points}"></div>
	        </div>
	        <div class="stat-card">
	            <div class="label">🎯 Matchs</div>
	            <div class="value" th:text="${joueur.matchsJ}+' ( '+${joueur.victoires}+'V - '+${joueur.nuls}+'N - '+${joueur.defaites}+'D )'"></div>
	        </div>
	        <div class="stat-card">
	            <div class="label">🔥 Forme Récente</div>
	            <div class="value" th:text="${joueur.formeR}"></div>
	        </div>
	        <div class="stat-card">
	            <div class="label">🅒 Capitanats</div>
	            <div class="value" th:text="${joueur.capitanatsJ}+' ( '+${joueur.victoiresCapitanat}+'V - '+${joueur.nulsCapitanat}+'N - '+${joueur.defaitesCapitanat}+'D )'"></div>
	        </div>
	        
	    </div>
	</div>

	
	<div>
	
		<h1>Matchs</h1>

		<div class="table-responsive">
			<table class="branded-table">
				<thead>
					<tr>
						<th>DATE</th>
						<th>EQUIPE A</th>
						<th></th>
						<th></th>
						<th>EQUIPE B</th>
						<th>HOMME DU MATCH</th>
						<th>RESULTAT</th>
						<th>BUTS</th>
						<th>PASSES</th>
						<th></th>
					</tr>
				</thead>
	
				<tbody>
					<tr th:each="match,iter : ${matchs}">
						<td th:utext="${match.date}">0</td>			
						<td th:utext="${match.equipeA.equipe.name} + ' ('+ ${match.equipeA.capitaine.name} +')'">0</td>
						<td th:utext="${match.equipeA.marques}">0</td>
						<td th:utext="${match.equipeB.marques}">0</td>
						<td th:utext="${match.equipeB.equipe.name} + ' ('+ ${match.equipeB.capitaine.name} +')'">0</td>
						<td th:utext="${match.motm.name}">0</td>
						<td th:utext="${match.resultat}">0</td>
						<td th:utext="${match.butsM}">0</td>
						<td th:utext="${match.passesD}">0</td>
						<td>
							<a data-th-href="@{/matchs/{id}(id=${match.id})}"> Plus ... </a>
						</td>
					</tr>
	
					<tr th:if="${matchs.empty}">
						<td colspan="11" style="text-align: center">Aucun Match</td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</div>
	
	<div>
	
		<h1>Match Highlight</h1>
		
		<div class="table-responsive">
			<table class="branded-table">
				<thead>
					<tr>
						<th>DATE</th>
						<th>Highlight</th>
						<th>Match</th>
					</tr>
				</thead>
		
				<tbody>
					<tr th:each="highlight,iter : ${highlights}">
						<td th:utext="${highlight.match.date}">Date</td>
						<td th:utext="${highlight.description}">Highlight</td>
						<td>
							<a data-th-href="@{/matchs/{id}(id=${highlight.match.id})}">Match</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	
</body>