<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Deux Zero | Sante</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
<head>
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>

	
	
	<div>
	
		<h1>Matchs</h1>

		<table id="customers">
			<thead>
				<tr>
					<th>DATE</th>
					<th>EQUIPE A</th>
					<th></th>
					<th></th>
					<th>EQUIPE B</th>
					<th>HOMME DU MATCH</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="match,iter : ${matchs}">
					<td th:utext="${match.date}">0</td>			
					<td th:utext="${match.equipeA.equipe.name} + ' ('+ ${match.equipeA.capitaine.name} +')'">0</td>
					<td th:utext="${match.equipeA.marques}">0</td>
					<td th:utext="${match.equipeB.marques}">0</td>
					<td th:utext="${match.equipeB.equipe.name} + ' ('+ ${match.equipeB.capitaine.name} +')'">0</td>
					<td th:utext="${match.motm.name}">0</td>
					<td>
						<a data-th-href="@{/matchs/{id}(id=${match.id})}"> Plus ... </a>
					</td>
				</tr>

				<tr th:if="${joueurs.empty}">
					<td colspan="11" style="text-align: center">Aucun Joueur</td>
				</tr>
			</tbody>
		</table>

	</div>
	
	<div>
	
		<h1>Joueurs</h1>

		<table id="customers">
			<thead>
				<tr>
					<th>JOUEURS</th>
					<th>MATCHS</th>
					<th>POINTS</th>
					<th>VICTOIRES</th>
					<th>NULS</th>
					<th>DEFAITES</th>
					<th>BUTS</th>
					<th>PASSES</th>
<!-- 					<th>BUTS (Equipe)</th> -->
<!-- 					<th>ENCAISSES (Equipe)</th> -->
					<th>HOMMES DU MATCH</th>
					<th>VALEUR MARCHANDE</th>
					<th>FORME RECENTE</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="joueur,iter : ${joueurs}">

					<td><a data-th-href="@{/joueurs/{id}(id=${joueur.id})}"> <span
							th:utext="${joueur.name}"></span>
					</a></td>
					<td th:utext="${joueur.matchsJ}">0</td>
					<td th:utext="${joueur.points}">0</td>
					<td th:utext="${joueur.victoires}">0</td>
					<td th:utext="${joueur.nuls}">0</td>
					<td th:utext="${joueur.defaites}">0</td>
					<td th:utext="${joueur.butsM}">0</td>
					<td th:utext="${joueur.passesD}">0</td>
<!-- 					<td th:utext="${joueur.butsME}">0</td> -->
<!-- 					<td th:utext="${joueur.butsEE}">0</td> -->
					<td th:utext="${joueur.motmsR}">0</td>
					<td th:utext="${joueur.valeurM}">0</td>
					<td th:utext="${joueur.formeR}">0</td>
				</tr>

				<tr th:if="${joueurs.empty}">
					<td colspan="11" style="text-align: center">Aucun Joueur</td>
				</tr>
			</tbody>
		</table>

	</div>

	
</body>