<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <footer class="site-footer">
        &copy; 2025 Mon Ndole. Tous droits réservés.
        <div class="socials">
        	<a href="https://www.instagram.com/mon.ndole/" target="_blank" class="social-icon">
	            <i class="fab fa-instagram"></i>
	        </a>
	        <a href="https://www.facebook.com/profile.php?id=61578615815969" target="_blank" class="social-icon">
	            <i class="fab fa-facebook"></i>
	        </a>
	        <a href="https://www.tiktok.com/@mon.ndole" target="_blank" class="social-icon">
	            <i class="fab fa-tiktok"></i>
	        </a>
    	</div>
    </footer>
</body>
</html>